<section class="container ">
    <h3>Popular Movies</h3>
    <ng-masonry-grid [masonryOptions]="masonryOptions" [useAnimation]="true" [useImagesLoaded]="true"
        [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 0.4, maxDuration : 0.7 }">

        <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let pmovie of popularList; let i = index;"
            (click)="getMovieDetail(pmovie.id)">

            <img src="https://image.tmdb.org/t/p/w500/{{pmovie.backdrop_path}}" alt="No image" />
            <div class="movie-info">
                <div>
                    <strong>{{pmovie.title}}</strong>
                </div>
                <div>
                    <span>{{pmovie.release_date}}</span>
                </div>
            </div>
        </ng-masonry-grid-item>
    </ng-masonry-grid>
</section>